<h1 class="text-center mt-3">Your ToDos</h1>
<div class="container todos-container mt-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">SL No.</th>
        <th scope="col">Description</th>
        <th scope="col">Target Date</th>
        <th scope="col">Done</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of todoItems">
        <td>{{item.id}}</td>
        <td>{{item.description}}</td>
        <td>{{item.targetDate}}</td>
        <td>{{item.done}}</td>
        <td><button class="btn btn-primary" (click)="handleUpdate(item.id)">Update</button></td>
        <td><button class="btn btn-danger" (click)="handleDelete(item.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <div class="btn-container">
    <button class="btn btn-success" (click)="handleCreateTodo()">Add ToDo</button>
  </div>
</div>